@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital@0;1&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 17px;
}

body {
  line-height: 1.8;
  font-family: Open Sans, sans-serif;
  color: var(--font-color);
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 0 0 15px;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

a:visited {
  color: var(--font-color);
}
