@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-display: "DM Serif Display", "sans-serif";
  --font-sans: "Inter", "sans-serif";
}

ul {
  list-style-type: disc !important;
}

ol {
  list-style-type: decimal !important;
}

html {
  background-color: #121212;
  opacity: 1;
  background-image: radial-gradient(#282828 0.55px, #121212 0.55px);
  background-size: 11px 11px;
}
